.about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5em;
    height: 26em;
}
.about-details {
    margin-top: 5em;
    margin-left: 38em;
    text-align: left;
    color: black;
}
.about-details h1 {
    color: #F4ce14;
}
.about-details p {
    white-space: normal;
    width: 200px;
}
.img-container-chef {
    /* display: flex;
    justify-content: flex-end; */
    height: 35em;
    width: 35em;
    background-color: aquamarine;
    margin-left: 100em;
    margin-bottom: 30em;
    position: relative;
}
.img-chef1,.img-chef2 {
    position: absolute;
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Maintain the aspect ratio */
}
.img-chef1 {
    left: 0;
    top: -200px;
    z-index: 2;
}
.img-chef2 {
    left: 290px;
    top: -11em;
    z-index: 1;
}