.footer-container {
    background-color: #71807b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    margin-top: 3em;
    margin-bottom: 1em;
    color: #333333;
}
.footer-img {
    width: 100px;
}
.footer-nav-container ul {
    list-style: none;
    text-align: left;
}
.navLinks {
    float: right;
    margin-top: 20px;
}
.footer-nav-container a {
    color: #333333;
    text-decoration: none;
}
.contact-details-container {
    display: flex;
}
.contact2 {
    float: right;
    padding-left: 3em;

}
.social-icons-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.social-icons-container img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
