.card {
    width: 22rem;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 10em;
    margin-left: 25rem;
}
.labelContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10em;
    margin-left: -19em;
}
.orderBTN {
    background-color:#F4ce14;
}